@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    position: fixed;
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(100px);
    }
  }
  
  svg #wheel {
    animation: scroll ease 1.5s infinite;
  }